*{
    box-sizing:border-box;
}
body{
   
    font-family: 'Prompt', sans-serif;
    font-size: 1em;   
    margin:0;
    padding: 0;
}
h1{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.75em;
    text-align: center;
}

div{
    width: 100%;
   /*margin: 3%;*/
  
    
   
 }
div > section{
    float: left;
    border: 1px solid black;
    padding: 10px;
    padding-top: 0px;
    
    margin-top: 3%;
    margin-right: auto;
}
span{
    float: right;
   padding: 5px 50px 5px 50px;
   margin-right: -10px;
    border: 1px solid black;
    font-size: 1.25em;
    font-weight:bold;
}

.sect1{
    background-color: bisque; 
   
}
.sectiontitle1{
    background-color: burlywood;
}

.sectiontext{
    clear: both;
}

.sect2{
    background-color:darkgoldenrod;   
}
.sectiontitle2{
    background-color:darkseagreen;
}

.sect3{
    background-color:darksalmon; 
  
   
}
.sectiontitle3{
    background-color:chocolate;
}

/**Desktop devices**/
@media (min-width: 992px) {
  
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/**Tablet devices**/
@media (min-width:768px) and (max-width:991px){
    .col-td-1{
        width: 8.33%;
    }
     .col-td-2{
        width: 16.66%;
    }  
 .col-td-3{
        width: 25%;
    }
     .col-td-4{
        width: 33%%;
    }
     .col-td-5{
        width: 41.66%;
    }
     .col-td-6{
        width: 50%;
    }
     .col-td-7{
        width: 58.33%;
    }
     .col-td-8{
        width: 66.66%;
    }
     .col-td-9{
        width: 74.99%;
    }
     .col-td-10{
        width: 83.33%;
    }
     .col-td-11{
        width: 91.66%;
    }
     .col-td-12{
        width: 100%;
    }
}

